@media (max-width: 575px) {
  /* line 13, mvp/static/scss/inner-layout/_responsive.scss */
  .inner-layout.sidebar-breakpoint-sm.has-sidebar {
    grid-template-columns: 1fr; }
    /* line 14, mvp/static/scss/inner-layout/_responsive.scss */
    .inner-layout.sidebar-breakpoint-sm.has-sidebar .inner-layout-sidebar {
      display: none; }
    /* line 21, mvp/static/scss/inner-layout/_responsive.scss */
    .inner-layout.sidebar-breakpoint-sm.has-sidebar.has-toolbar:not(.has-footer) {
      grid-template-areas: "toolbar" "content"; }
    /* line 27, mvp/static/scss/inner-layout/_responsive.scss */
    .inner-layout.sidebar-breakpoint-sm.has-sidebar:not(.has-toolbar).has-footer {
      grid-template-areas: "content" "footer"; }
    /* line 33, mvp/static/scss/inner-layout/_responsive.scss */
    .inner-layout.sidebar-breakpoint-sm.has-sidebar.has-toolbar.has-footer {
      grid-template-areas: "toolbar" "content" "footer"; }
    /* line 40, mvp/static/scss/inner-layout/_responsive.scss */
    .inner-layout.sidebar-breakpoint-sm.has-sidebar:not(.has-toolbar):not(.has-footer) {
      grid-template-areas: "content"; } }

@media (max-width: 767px) {
  /* line 50, mvp/static/scss/inner-layout/_responsive.scss */
  .inner-layout.sidebar-breakpoint-md.has-sidebar {
    grid-template-columns: 1fr; }
    /* line 51, mvp/static/scss/inner-layout/_responsive.scss */
    .inner-layout.sidebar-breakpoint-md.has-sidebar .inner-layout-sidebar {
      display: none; }
    /* line 57, mvp/static/scss/inner-layout/_responsive.scss */
    .inner-layout.sidebar-breakpoint-md.has-sidebar.has-toolbar:not(.has-footer) {
      grid-template-areas: "toolbar" "content"; }
    /* line 63, mvp/static/scss/inner-layout/_responsive.scss */
    .inner-layout.sidebar-breakpoint-md.has-sidebar:not(.has-toolbar).has-footer {
      grid-template-areas: "content" "footer"; }
    /* line 69, mvp/static/scss/inner-layout/_responsive.scss */
    .inner-layout.sidebar-breakpoint-md.has-sidebar.has-toolbar.has-footer {
      grid-template-areas: "toolbar" "content" "footer"; }
    /* line 76, mvp/static/scss/inner-layout/_responsive.scss */
    .inner-layout.sidebar-breakpoint-md.has-sidebar:not(.has-toolbar):not(.has-footer) {
      grid-template-areas: "content"; } }

@media (max-width: 991px) {
  /* line 86, mvp/static/scss/inner-layout/_responsive.scss */
  .inner-layout.sidebar-breakpoint-lg.has-sidebar {
    grid-template-columns: 1fr; }
    /* line 87, mvp/static/scss/inner-layout/_responsive.scss */
    .inner-layout.sidebar-breakpoint-lg.has-sidebar .inner-layout-sidebar {
      display: none; }
    /* line 93, mvp/static/scss/inner-layout/_responsive.scss */
    .inner-layout.sidebar-breakpoint-lg.has-sidebar.has-toolbar:not(.has-footer) {
      grid-template-areas: "toolbar" "content"; }
    /* line 99, mvp/static/scss/inner-layout/_responsive.scss */
    .inner-layout.sidebar-breakpoint-lg.has-sidebar:not(.has-toolbar).has-footer {
      grid-template-areas: "content" "footer"; }
    /* line 105, mvp/static/scss/inner-layout/_responsive.scss */
    .inner-layout.sidebar-breakpoint-lg.has-sidebar.has-toolbar.has-footer {
      grid-template-areas: "toolbar" "content" "footer"; }
    /* line 112, mvp/static/scss/inner-layout/_responsive.scss */
    .inner-layout.sidebar-breakpoint-lg.has-sidebar:not(.has-toolbar):not(.has-footer) {
      grid-template-areas: "content"; } }

@media (max-width: 1199px) {
  /* line 122, mvp/static/scss/inner-layout/_responsive.scss */
  .inner-layout.sidebar-breakpoint-xl.has-sidebar {
    grid-template-columns: 1fr; }
    /* line 123, mvp/static/scss/inner-layout/_responsive.scss */
    .inner-layout.sidebar-breakpoint-xl.has-sidebar .inner-layout-sidebar {
      display: none; }
    /* line 129, mvp/static/scss/inner-layout/_responsive.scss */
    .inner-layout.sidebar-breakpoint-xl.has-sidebar.has-toolbar:not(.has-footer) {
      grid-template-areas: "toolbar" "content"; }
    /* line 135, mvp/static/scss/inner-layout/_responsive.scss */
    .inner-layout.sidebar-breakpoint-xl.has-sidebar:not(.has-toolbar).has-footer {
      grid-template-areas: "content" "footer"; }
    /* line 141, mvp/static/scss/inner-layout/_responsive.scss */
    .inner-layout.sidebar-breakpoint-xl.has-sidebar.has-toolbar.has-footer {
      grid-template-areas: "toolbar" "content" "footer"; }
    /* line 148, mvp/static/scss/inner-layout/_responsive.scss */
    .inner-layout.sidebar-breakpoint-xl.has-sidebar:not(.has-toolbar):not(.has-footer) {
      grid-template-areas: "content"; } }

@media (max-width: 1399px) {
  /* line 158, mvp/static/scss/inner-layout/_responsive.scss */
  .inner-layout.sidebar-breakpoint-xxl.has-sidebar {
    grid-template-columns: 1fr; }
    /* line 159, mvp/static/scss/inner-layout/_responsive.scss */
    .inner-layout.sidebar-breakpoint-xxl.has-sidebar .inner-layout-sidebar {
      display: none; }
    /* line 165, mvp/static/scss/inner-layout/_responsive.scss */
    .inner-layout.sidebar-breakpoint-xxl.has-sidebar.has-toolbar:not(.has-footer) {
      grid-template-areas: "toolbar" "content"; }
    /* line 171, mvp/static/scss/inner-layout/_responsive.scss */
    .inner-layout.sidebar-breakpoint-xxl.has-sidebar:not(.has-toolbar).has-footer {
      grid-template-areas: "content" "footer"; }
    /* line 177, mvp/static/scss/inner-layout/_responsive.scss */
    .inner-layout.sidebar-breakpoint-xxl.has-sidebar.has-toolbar.has-footer {
      grid-template-areas: "toolbar" "content" "footer"; }
    /* line 184, mvp/static/scss/inner-layout/_responsive.scss */
    .inner-layout.sidebar-breakpoint-xxl.has-sidebar:not(.has-toolbar):not(.has-footer) {
      grid-template-areas: "content"; } }

@media (max-width: 767px) {
  /* line 195, mvp/static/scss/inner-layout/_responsive.scss */
  .inner-layout-content {
    padding: 1rem; }
  /* line 199, mvp/static/scss/inner-layout/_responsive.scss */
  .inner-layout-toolbar,
  .inner-layout-footer {
    padding: 0.5rem 0.75rem; } }

@media (max-width: 575px) {
  /* line 206, mvp/static/scss/inner-layout/_responsive.scss */
  .inner-layout-content {
    padding: 0.75rem; }
  /* line 210, mvp/static/scss/inner-layout/_responsive.scss */
  .inner-layout-toolbar,
  .inner-layout-footer {
    padding: 0.5rem; }
  /* line 215, mvp/static/scss/inner-layout/_responsive.scss */
  .toolbar-title {
    font-size: 1rem !important; } }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjogMywgImZpbGUiOiAiaW5uZXItbGF5b3V0LmNzcyIsICJzb3VyY2VzIjogWyIvc3RhdGljL3Njc3MvaW5uZXItbGF5b3V0LnNjc3MiLCAiL3N0YXRpYy9zY3NzL2lubmVyLWxheW91dC9fdmFyaWFibGVzLnNjc3MiLCAiL3N0YXRpYy9zY3NzL2lubmVyLWxheW91dC9fbGF5b3V0LnNjc3MiLCAiL3N0YXRpYy9zY3NzL2lubmVyLWxheW91dC9fY29tcG9uZW50cy5zY3NzIiwgIi9zdGF0aWMvc2Nzcy9pbm5lci1sYXlvdXQvX3Jlc3BvbnNpdmUuc2NzcyJdLCAibmFtZXMiOiBbXSwgIm1hcHBpbmdzIjogIkFJV0UsTUFBTSxtQkFDSjs7RUFGSixBQUVJLGFBRlMsQUFBQSxzQkFBc0IsQUFFOUIsWUFBWSxDQUFDO0lBTVoscUJBQXFCLEVBQUUsR0FBRyxHQXdCM0I7O0lBaENMLEFBR00sYUFITyxBQUFBLHNCQUFzQixBQUU5QixZQUFZLENBQ1gscUJBQXFCLENBQUM7TUFDcEIsT0FBTyxFQUFFLElBQUksR0FDZDs7SUFMUCxBQVVNLGFBVk8sQUFBQSxzQkFBc0IsQUFFOUIsWUFBWSxBQVFWLFlBQVksQ0FBQSxHQUFLLENBQUEsV0FBVyxFQUFFO01BQzdCLG1CQUFtQixFQUNqQixtQkFDUyxHQUNaOztJQWRQLEFBZ0JNLGFBaEJPLEFBQUEsc0JBQXNCLEFBRTlCLFlBQVksQ0FjVixHQUFLLENBQUEsWUFBWSxDQUFDLFdBQVcsQ0FBQztNQUM3QixtQkFBbUIsRUFDakIsa0JBQ1EsR0FDWDs7SUFwQlAsQUFzQk0sYUF0Qk8sQUFBQSxzQkFBc0IsQUFFOUIsWUFBWSxBQW9CVixZQUFZLEFBQUEsV0FBVyxDQUFDO01BQ3ZCLG1CQUFtQixFQUNqQiw0QkFFUSxHQUNYOztJQTNCUCxBQTZCTSxhQTdCTyxBQUFBLHNCQUFzQixBQUU5QixZQUFZLENBMkJWLEdBQUssQ0FBQSxZQUFZLEVBQUMsR0FBSyxDQUFBLFdBQVcsRUFBRTtNQUNuQyxtQkFBbUIsRUFBRSxTQUFTLEdBQy9CLEVBQ0Y7O0FBTUgsTUFBTSxtQkFDSjs7RUFGSixBQUVJLGFBRlMsQUFBQSxzQkFBc0IsQUFFOUIsWUFBWSxDQUFDO0lBS1oscUJBQXFCLEVBQUUsR0FBRyxHQXdCM0I7O0lBL0JMLEFBR00sYUFITyxBQUFBLHNCQUFzQixBQUU5QixZQUFZLENBQ1gscUJBQXFCLENBQUM7TUFDcEIsT0FBTyxFQUFFLElBQUksR0FDZDs7SUFMUCxBQVNNLGFBVE8sQUFBQSxzQkFBc0IsQUFFOUIsWUFBWSxBQU9WLFlBQVksQ0FBQSxHQUFLLENBQUEsV0FBVyxFQUFFO01BQzdCLG1CQUFtQixFQUNqQixtQkFDUyxHQUNaOztJQWJQLEFBZU0sYUFmTyxBQUFBLHNCQUFzQixBQUU5QixZQUFZLENBYVYsR0FBSyxDQUFBLFlBQVksQ0FBQyxXQUFXLENBQUM7TUFDN0IsbUJBQW1CLEVBQ2pCLGtCQUNRLEdBQ1g7O0lBbkJQLEFBcUJNLGFBckJPLEFBQUEsc0JBQXNCLEFBRTlCLFlBQVksQUFtQlYsWUFBWSxBQUFBLFdBQVcsQ0FBQztNQUN2QixtQkFBbUIsRUFDakIsNEJBRVEsR0FDWDs7SUExQlAsQUE0Qk0sYUE1Qk8sQUFBQSxzQkFBc0IsQUFFOUIsWUFBWSxDQTBCVixHQUFLLENBQUEsWUFBWSxFQUFDLEdBQUssQ0FBQSxXQUFXLEVBQUU7TUFDbkMsbUJBQW1CLEVBQUUsU0FBUyxHQUMvQixFQUNGOztBQU1ILE1BQU0sbUJBQ0o7O0VBRkosQUFFSSxhQUZTLEFBQUEsc0JBQXNCLEFBRTlCLFlBQVksQ0FBQztJQUtaLHFCQUFxQixFQUFFLEdBQUcsR0F3QjNCOztJQS9CTCxBQUdNLGFBSE8sQUFBQSxzQkFBc0IsQUFFOUIsWUFBWSxDQUNYLHFCQUFxQixDQUFDO01BQ3BCLE9BQU8sRUFBRSxJQUFJLEdBQ2Q7O0lBTFAsQUFTTSxhQVRPLEFBQUEsc0JBQXNCLEFBRTlCLFlBQVksQUFPVixZQUFZLENBQUEsR0FBSyxDQUFBLFdBQVcsRUFBRTtNQUM3QixtQkFBbUIsRUFDakIsbUJBQ1MsR0FDWjs7SUFiUCxBQWVNLGFBZk8sQUFBQSxzQkFBc0IsQUFFOUIsWUFBWSxDQWFWLEdBQUssQ0FBQSxZQUFZLENBQUMsV0FBVyxDQUFDO01BQzdCLG1CQUFtQixFQUNqQixrQkFDUSxHQUNYOztJQW5CUCxBQXFCTSxhQXJCTyxBQUFBLHNCQUFzQixBQUU5QixZQUFZLEFBbUJWLFlBQVksQUFBQSxXQUFXLENBQUM7TUFDdkIsbUJBQW1CLEVBQ2pCLDRCQUVRLEdBQ1g7O0lBMUJQLEFBNEJNLGFBNUJPLEFBQUEsc0JBQXNCLEFBRTlCLFlBQVksQ0EwQlYsR0FBSyxDQUFBLFlBQVksRUFBQyxHQUFLLENBQUEsV0FBVyxFQUFFO01BQ25DLG1CQUFtQixFQUFFLFNBQVMsR0FDL0IsRUFDRjs7QUFNSCxNQUFNLG9CQUNKOztFQUZKLEFBRUksYUFGUyxBQUFBLHNCQUFzQixBQUU5QixZQUFZLENBQUM7SUFLWixxQkFBcUIsRUFBRSxHQUFHLEdBd0IzQjs7SUEvQkwsQUFHTSxhQUhPLEFBQUEsc0JBQXNCLEFBRTlCLFlBQVksQ0FDWCxxQkFBcUIsQ0FBQztNQUNwQixPQUFPLEVBQUUsSUFBSSxHQUNkOztJQUxQLEFBU00sYUFUTyxBQUFBLHNCQUFzQixBQUU5QixZQUFZLEFBT1YsWUFBWSxDQUFBLEdBQUssQ0FBQSxXQUFXLEVBQUU7TUFDN0IsbUJBQW1CLEVBQ2pCLG1CQUNTLEdBQ1o7O0lBYlAsQUFlTSxhQWZPLEFBQUEsc0JBQXNCLEFBRTlCLFlBQVksQ0FhVixHQUFLLENBQUEsWUFBWSxDQUFDLFdBQVcsQ0FBQztNQUM3QixtQkFBbUIsRUFDakIsa0JBQ1EsR0FDWDs7SUFuQlAsQUFxQk0sYUFyQk8sQUFBQSxzQkFBc0IsQUFFOUIsWUFBWSxBQW1CVixZQUFZLEFBQUEsV0FBVyxDQUFDO01BQ3ZCLG1CQUFtQixFQUNqQiw0QkFFUSxHQUNYOztJQTFCUCxBQTRCTSxhQTVCTyxBQUFBLHNCQUFzQixBQUU5QixZQUFZLENBMEJWLEdBQUssQ0FBQSxZQUFZLEVBQUMsR0FBSyxDQUFBLFdBQVcsRUFBRTtNQUNuQyxtQkFBbUIsRUFBRSxTQUFTLEdBQy9CLEVBQ0Y7O0FBTUgsTUFBTSxvQkFDSjs7RUFGSixBQUVJLGFBRlMsQUFBQSx1QkFBdUIsQUFFL0IsWUFBWSxDQUFDO0lBS1oscUJBQXFCLEVBQUUsR0FBRyxHQXdCM0I7O0lBL0JMLEFBR00sYUFITyxBQUFBLHVCQUF1QixBQUUvQixZQUFZLENBQ1gscUJBQXFCLENBQUM7TUFDcEIsT0FBTyxFQUFFLElBQUksR0FDZDs7SUFMUCxBQVNNLGFBVE8sQUFBQSx1QkFBdUIsQUFFL0IsWUFBWSxBQU9WLFlBQVksQ0FBQSxHQUFLLENBQUEsV0FBVyxFQUFFO01BQzdCLG1CQUFtQixFQUNqQixtQkFDUyxHQUNaOztJQWJQLEFBZU0sYUFmTyxBQUFBLHVCQUF1QixBQUUvQixZQUFZLENBYVYsR0FBSyxDQUFBLFlBQVksQ0FBQyxXQUFXLENBQUM7TUFDN0IsbUJBQW1CLEVBQ2pCLGtCQUNRLEdBQ1g7O0lBbkJQLEFBcUJNLGFBckJPLEFBQUEsdUJBQXVCLEFBRS9CLFlBQVksQUFtQlYsWUFBWSxBQUFBLFdBQVcsQ0FBQztNQUN2QixtQkFBbUIsRUFDakIsNEJBRVEsR0FDWDs7SUExQlAsQUE0Qk0sYUE1Qk8sQUFBQSx1QkFBdUIsQUFFL0IsWUFBWSxDQTBCVixHQUFLLENBQUEsWUFBWSxFQUFDLEdBQUssQ0FBQSxXQUFXLEVBQUU7TUFDbkMsbUJBQW1CLEVBQUUsU0FBUyxHQUMvQixFQUNGOztBQU9MLE1BQU0sbUJBQ0o7O0VBQUEsQUFBQSxxQkFBcUIsQ0FBQztJQUNwQixPQUFPLEVBQUUsSUFBSSxHQUNkOztFQUVELEFBQUEscUJBQXFCO0VBQ3JCLG9CQUFvQixDQUFDO0lBQ25CLE9BQU8sRUFBRSxjQUFjLEdBQ3hCLEVBTEE7O0FBUUgsTUFBTSxtQkFDSjs7RUFBQSxBQUFBLHFCQUFxQixDQUFDO0lBQ3BCLE9BQU8sRUFBRSxPQUFPLEdBQ2pCOztFQUVELEFBQUEscUJBQXFCO0VBQ3JCLG9CQUFvQixDQUFDO0lBQ25CLE9BQU8sRUFBRSxNQUFNLEdBQ2hCOztFQUVELEFBQUEsY0FBYyxDQUFDO0lBQ2IsU0FBUyxFQUFFLGVBQWUsR0FDM0IsRUFUQSJ9  */