<c-vars title
        subtitle
        description
        info_modal_target="#pageInfoModal" />
<div class="mb-4" {{ attrs }}>
  <div class="d-flex flex-column-reverse flex-lg-row justify-content-lg-between align-items-lg-center gap-3 mb-3">
    <div class="flex-grow-1">
      <h1 class="h4 mb-1">
        {{ title }}
        {% if description %}
          <button type="button"
                  class="btn btn-link p-0 ms-2 text-muted page-info-btn"
                  data-bs-toggle="modal"
                  data-bs-target="{{ info_modal_target }}"
                  aria-label="Page Information">
            <c-icon name="info" />
          </button>
        {% endif %}
      </h1>
      {% if subtitle %}<h2 class="h6 text-muted mb-0 fw-normal">{{ subtitle }}</h2>{% endif %}
    </div>
    {% if actions %}<div class="d-flex gap-3 align-items-center">{{ actions }}</div>{% endif %}
  </div>
</div>
