<c-vars title
        icon
        icon_class=""
        variant="default"
        fill="outline"
        collapsed
        collapsible
        tight
        removable
        maximizable
        footer_class
        class />
<c-card.wrapper :attrs="attrs">
  {% if header %}
    {{ header }}
  {% else %}
    <c-card.header :attrs="attrs" />
  {% endif %}
  {% comment %} {% if not header == False %}<c-card.header :attrs="attrs" />{% endif %} {% endcomment %}
  <c-card.body>
    {{ slot }}
  </c-card.body>
  {% if footer_start or footer_end %}
    <c-card.footer :end="footer_end">
      {{ footer_start }}
    </c-card.footer>
  {% endif %}
</c-card.wrapper>
