{% extends "layouts/standard.html" %}
{% block content %}
  {% block toolbar %}
    <c-page.toolbar :attrs="toolbar" :visible="toolbar" />
  {% endblock toolbar %}
  <div class="container py-3">
    {% block breadcrumbs %}
      <c-page.breadcrumbs :items="breadcrumbs" />
    {% endblock breadcrumbs %}
    {% block title %}
      <c-page.title :attrs="title" :visible="title">
        <c-slot name="actions">
          <div class="hstack">
            {% block actions %}
              <c-list.search-widget />
              <c-list.order-widget />
              <c-list.filter-toggle />
            {% endblock actions %}
          </div>
        </c-slot>
      </c-page.title>
    {% endblock title %}
    {% block list_content %}
      <c-list card="{{ list_item_template }}"
              responsive="{'md': 3 }" />
    {% endblock list_content %}
    {% block pagination %}
      <c-page.pagination :visible="is_paginated" :page="page_obj" only />
    {% endblock pagination %}
  </div>
{% endblock content %}
