{% load i18n static %}
<c-vars href="/"
        logo_height="unset"
        logo_width="auto"
        icon_size="2rem"
        text
        image_light
        image_dark
        icon_light
        icon_dark />
<div class="sidebar-branding bg-body{% if not icon_light and not icon_dark %} no-icon{% endif %}">
  <div href="{{ href }}"
       class="sidebar-branding-link d-flex align-items-center justify-content-center text-decoration-none">
    {% if image_light or image_dark %}
      <div class="sidebar-logo">
        {# Show theme-aware images if provided #}
        {# NOTE: we need to ass custom classes to show on dark/light theme using css #}
        {% if image_light %}
          <img src="{% static image_light %}"
               alt="{{ text }}"
               class="img-fluid d-block"
               width="{{ logo_width }}"
               height="auto"
               data-bs-theme-value="light" />
        {% endif %}
        {% if image_dark %}
          <img src="{% static image_dark %}"
               alt="{{ text }}"
               class="img-fluid d-none"
               width="auto"
               height="auto"
               data-bs-theme-value="dark" />
        {% endif %}
      </div>
    {% elif text %}
      <span class="fs-4 fw-bold text-primary sidebar-logo">{{ text }}</span>
    {% endif %}
    {% if icon_light or icon_dark %}
      <div class="sidebar-icon">
        {% if icon_light %}
          <img src="{% static icon_light %}"
               alt="{{ text }}"
               class="img-fluid d-block w-100 bg-body"
               data-bs-theme-value="light" />
        {% endif %}
        {% if icon_dark %}
          <img src="{% static icon_dark %}"
               alt="{{ text }}"
               class="img-fluid d-none d-[bs-theme=dark]-block"
               width="{{ icon_size }}"
               height="{{ icon_size }}"
               data-bs-theme-value="dark" />
        {% endif %}
      </div>
    {% endif %}
  </div>
  <button class="btn d-flex align-items-center justify-content-center text-decoration-none menu-item hover-bg-light sidebar-toggle collapsed-only sidebar-brand-toggle"
          aria-label="Expand sidebar">
    <c-icon name="sidebar" class="me-0 fs-6 menu-icon" />
  </button>
</div>
