{# Single menu item template (leaf - no children) #}
{# Depth 1: Top-level menu items without children #}
<c-app.sidebar.menu.item label="{{ label }}"
                         href="{{ url }}"
                         icon="{{ icon|default:'circle' }}"
                         {% comment %}
                         {% if selected %}active{% endif %}
                         {% endcomment %}
                         :active="selected"
                         badge="{{ badge|default:'' }}"
                         badge_classes="{{ badge_classes|default:'text-bg-secondary' }}" />
