{% load flex_menu %}

<style>
  .toolbar-dropdown ul {
    width: 100%;
    padding: 0;
  }
</style>
{% if children %}
  <c-dropdown class="toolbar-dropdown">
    <c-slot name="button">
      <c-dropdown.toggle variant="outline-secondary"
                         size="sm"
                         class="d-inline-flex justify-content-center align-items-center w-100 gap-2">
        {# Show selected child label if one exists #}
        {% for child in children %}
          {% if child.selected %}
            <c-icon name="{{ child.extra_context.icon }}" />
            {{ child.name }}
          {% endif %}
        {% endfor %}
      </c-dropdown.toggle>
    </c-slot>
    {% for child in children %}
      {% if not child.selected %}
        {% render_item child renderer=renderer %}
      {% endif %}
    {% endfor %}
  </c-dropdown>
{% endif %}
