{% load i18n %}

<c-vars page_obj="" table="" />
<div class="text-muted">
  <small>
    {% if page_obj %}
      {% trans "Showing" %} {{ page_obj.start_index }} {% trans "to" %} {{ page_obj.end_index }} {% trans "of" %} {{ page_obj.paginator.count }} {% trans "entries" %}
    {% elif table.page %}
      {% trans "Showing" %} {{ table.page.start_index }} {% trans "to" %} {{ table.page.end_index }} {% trans "of" %} {{ table.paginator.count }} {% trans "entries" %}
    {% else %}
      {% trans "Showing" %} {{ table.rows|length }} {% trans "entries" %}
    {% endif %}
  </small>
</div>
