<c-vars label
        value
        icon
        variant="default"
        link
        link_text="{% trans "More info" %}"
        link_variant="light"
        link_icon="link"
        class />
<div class="small-box my-0 text-bg-{{ variant }} {{ class }}"
     {{ attrs }}>
  <div class="inner">
    <h3>{{ value|default:"0" }}</h3>
    <p>{{ label }}</p>
  </div>
  <c-icon name="{{ icon }}" class="small-box-icon" />
  {% if link %}
    <a href="{{ link }}"
       class="small-box-footer stretched-link link-{{ link_variant }} link-underline-opacity-0 link-underline-opacity-50-hover"
       style="position: unset">
      {{ link_text }}
      <c-icon name="{{ link_icon }}" />
    </a>
  {% endif %}
</div>
