<c-vars reverse
        border
        collapsible
        sidebar_id
        width
        gap="3"
        max_width
        min_width
        col_class />
<div class="content-shell px-0 {% if reverse %}flex-row-reverse{% endif %} gap-{{ gap }} {{ class }}">
  <c-sidebar :border="border"
             :collapsible="collapsible"
             :width="width"
             :max_width="max_width"
             :min_width="min_width"
             class="{{ col_class }} {{ sidebar_class }}"
             id="{{ sidebar_id }}">
    {{ sidebar }}
  </c-sidebar>
  <main class="col">
    {{ slot }}
  </main>
</div>
