<c-vars name=""
        timestamp=""
        text=""
        image=""
        align="start" />
<div class="direct-chat-msg {% if align == 'end' %}right{% endif %}">
  <div class="direct-chat-infos clearfix">
    <span class="direct-chat-name float-{{ align }}">{{ name }}</span>
    <span class="direct-chat-timestamp float-{% if align == 'end' %}start{% else %}end{% endif %}">{{ timestamp }}</span>
  </div>
  {% if image %}
    <img class="direct-chat-img"
         src="{{ image }}"
         alt="{{ name }}" />
  {% endif %}
  <div class="direct-chat-text">{{ text }}{{ slot }}</div>
</div>
