<c-vars variant="primary" title="Direct Chat" class />
<div class="card direct-chat direct-chat-{{ variant }} {{ class }}">
  <c-slot name="header">
    <div class="card-header">
      <h3 class="card-title">{{ title }}</h3>
      <div class="card-tools">
        <button type="button"
                class="btn btn-tool"
                data-lte-toggle="chat-pane">
          <i class="bi bi-chat-text"></i>
        </button>
      </div>
    </div>
  </c-slot>
  <div class="card-body">
    <c-slot name="messages">
      <div class="direct-chat-messages">{# Chat messages go here #}</div>
    </c-slot>
    <c-slot name="contacts">
      <div class="direct-chat-contacts">
        <ul class="contacts-list">
          {# Contacts list goes here #}
        </ul>
      </div>
    </c-slot>
  </div>
  <c-slot name="footer">
    {# Footer with input form #}
  </c-slot>
</div>
