<c-vars number=""
        text=""
        icon=""
        class
        variant="primary"
        progress=""
        progress_text=""
        href="" />
<div class="info-box {{ class }}">
  {% if icon %}
    <span class="info-box-icon text-bg-{{ variant }}">
      <i class="bi bi-{{ icon }}"></i>
    </span>
  {% endif %}
  <div class="info-box-content">
    <span class="info-box-text">{{ text }}</span>
    <span class="info-box-number">{{ number }}</span>
    {% if progress %}
      <div class="progress">
        <div class="progress-bar"
             style="width: {{ progress }}%"></div>
      </div>
      {% if progress_text %}<span class="progress-description">{{ progress_text }}</span>{% endif %}
    {% endif %}
  </div>
  {% if href %}
    <a href="{{ href }}" class="info-box-more">
      More info <i class="bi bi-arrow-right-circle"></i>
    </a>
  {% endif %}
</div>
