.mvp-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.7rem;

  &.compact {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    gap: 0.5rem;

    .page-toolbar-start,
    .page-toolbar-end {
      gap: 0.35rem;
    }
  }

  &-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex: 0 1 auto;
  }

  &-right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex: 0 0 auto; // Don't shrink
    margin-left: auto;
  }

  .btn {
    white-space: nowrap !important;
  }

  &.hide-action-text {
    .btn-text {
      display: none;
    }
  }
}
