{% load flex_menu %}
<c-vars brand_text="Django MVP"
        brand_logo=""
        brand_url="/"
        theme=""
        class="bg-body-secondary" />
<aside class="app-sidebar {{ class }} shadow"
       {% if theme %}data-bs-theme="{{ theme }}"{% endif %}>
  <c-app.sidebar.branding brand_text="{{ brand_text }}"
                          brand_logo="{{ brand_logo }}"
                          brand_url="{{ brand_url }}" />
  <div class="sidebar-wrapper">
    <nav class="mt-2">
      {% if slot %}
        {{ slot }}
      {% else %}
        {% render_menu "AppMenu" renderer="adminlte" %}
      {% endif %}
    </nav>
  </div>
</aside>
