{% extends "base.html" %}
{% load cotton %}
{% block body %}
  {% block app_wrapper %}
    <c-app.wrapper>
      <c-slot name="header">
        {% block app_header %}
          <c-app.header>
            <c-slot name="left">
              {% block navbar_left %}
              {% endblock navbar_left %}
            </c-slot>
            <c-slot name="right">
              {% block navbar_right %}
              {% endblock navbar_right %}
            </c-slot>
          </c-app.header>
        {% endblock app_header %}
      </c-slot>
      <c-slot name="sidebar">
        {% block app_sidebar %}
          <c-app.sidebar brand_text="{{ mvp.brand.text|default:'Django MVP' }}"
                         brand_logo="{{ mvp.brand.logo|default:'' }}"
                         brand_url="/">
            {% block sidebar_menu %}
              {# Override this block to add sidebar menu items #}
            {% endblock sidebar_menu %}
          </c-app.sidebar>
        {% endblock app_sidebar %}
      </c-slot>
      <c-slot name="main">
        <c-app.main>
          <c-slot name="header">
            {% block page_header %}
              <div class="row">
                <div class="col-sm-6">
                  <h3 class="mb-0">
                    {% block page_title %}
                    {% endblock page_title %}
                  </h3>
                </div>
                <div class="col-sm-6">
                  {% block breadcrumbs %}
                    {# Override to add breadcrumbs #}
                  {% endblock breadcrumbs %}
                </div>
              </div>
            {% endblock page_header %}
          </c-slot>
          {% block content %}
            <div class="container-fluid">{# Your page content goes here #}</div>
          {% endblock content %}
        </c-app.main>
      </c-slot>
      <c-slot name="footer">
        {% block app_footer %}
          <c-app.footer />
        {% endblock app_footer %}
      </c-slot>
    </c-app.wrapper>
  {% endblock app_wrapper %}
{% endblock body %}
