{% extends "base.html" %}
{% block main %}
  <c-page class="container">
    <c-page.content>
      <c-page.header title="{{ page_title }}" />
      <c-card.wrapper class="p-3">
        <c-component is="forms.{{ form_renderer|default:"django" }}" />
      </c-card.wrapper>
    </c-page.content>
    <c-page.footer>
      <c-slot name="end">
        <c-button text="{{ submit_text|default:"Submit" }}"
                  variant="primary"
                  large
                  type="submit"
                  onclick="this.closest('.card').querySelector('form').submit(); return false;" />
        {% if cancel_url %}
          <a href="{{ cancel_url }}"
             class="btn btn-secondary ms-2">Cancel</a>
        {% endif %}
      </c-slot>
    </c-page.footer>
  </c-page>
{% endblock main %}
