{% extends "base.html" %}
{% load i18n static crispy_forms_tags mvp %}
{% block main %}
  <c-page :attrs="page" layout="lhr-lpr-lfr">
    <c-page.content class="container">
      <c-page.header title="{{ page_title }}"
                     gap="1"
                     class="hide-btn-text">
        <c-slot name="end">
          <c-list.search-widget />
          <c-list.order-widget />
          {% if filter %}<c-page.toolbar.sidebar-widget icon="filter" />{% endif %}
        </c-slot>
      </c-page.header>
      <c-grid :attrs="grid_config">
        {% for object in object_list %}
          <div class="col">{% render_list_item object list_item_template %}</div>
        {% empty %}
          <c-list.empty />
        {% endfor %}
      </c-grid>
    </c-page.content>
    <c-page.footer.pagination :page_obj="page_obj" page_info />
    {% if filter %}<c-sidebar.filter />{% endif %}
  </c-page>
  <script src="{% static "js/list_view.js" %}"></script>
{% endblock main %}
