<c-vars icon="circle"
        label
        active
        href="#"
        badge
        badge_classes="text-bg-secondary" />
<li class="nav-item {% if slot and active %}menu-open{% endif %}">
  <a href="{% if slot %}#{% else %}{{ href }}{% endif %}"
     class="nav-link {% if active %}active{% endif %}">
    <c-icon name="{{ icon }}" class="nav-icon" />
    <p>
      {{ label }}
      {% if badge %}<span class="nav-badge badge {{ badge_classes }}">{{ badge }}</span>{% endif %}
      {% if slot %}<c-icon name="chevron_right" class="nav-arrow" />{% endif %}
    </p>
  </a>
  {% if slot %}
    <ul class="nav nav-treeview"
        role="navigation"
        aria-label="{{ label }}">
      {{ slot }}
    </ul>
  {% endif %}
</li>
