{% extends "layouts/standard.html" %}
{# Form view layout - extends standard layout for form-based pages #}
{% block content %}
  <div class="container py-4">
    {% block page_header %}
      <c-page.title :title="title" :subtitle="subtitle">
        <c-slot name="actions">
          {% block page_actions %}
          {% endblock page_actions %}
        </c-slot>
      </c-page.title>
    {% endblock page_header %}
    {% block form_content %}
      {# Override this block to add your form #}
    {% endblock form_content %}
  </div>
{% endblock content %}
