{% if order_by_choices %}
  <div class="input-group" style="min-width: 180px;">
    <span class="input-group-text border-end-0">
      <c-icon name="sort" class="text-muted" />
    </span>
    <select name="o"
            form="filterForm"
            onchange="this.form.submit();"
            class="form-select ordering-field desktop-ordering border-start-0"
            aria-label="Sort order">
      {% for value, label in order_by_choices %}
        <option value="{{ value }}"
                {% if current_ordering == value %}selected{% endif %}>{{ label }}</option>
      {% endfor %}
    </select>
  </div>
{% endif %}
