<c-vars icon
        text
        number
        variant="default"
        fill="icon"
        progress
        description
        icon_class=""
        class />
{# Build CSS classes based on variant/bg attributes #}
<div class="info-box {% if fill == "box" %}text-bg-{{ variant }}{% endif %} {{ class }}">
  <span class="info-box-icon {% if fill == "icon" %}text-bg-{{ variant }}{% endif %} "
        aria-hidden="true">
    <c-icon name="{{ icon }}" class="{{ icon_class }}" />
  </span>
  <div class="info-box-content">
    <span class="info-box-text">{{ text }}</span>
    <span class="info-box-number">{{ number }}</span>
    {% if progress %}
      <c-progress :value="progress"
                  variant="{% if fill == "icon" %}{{ variant }}{% endif %}"
                  only />
      {% if description %}<span class="progress-description">{{ description }}</span>{% endif %}
    {% endif %}
  </div>
</div>
