<!-- Desktop Navigation Dropdown -->
<div class="nav-item dropdown">
  <a class="nav-link dropdown-toggle"
     href="#"
     role="button"
     data-bs-toggle="dropdown"
     aria-expanded="false">{{ title }}</a>
  <ul class="dropdown-menu">
    {% for item in items %}
      {% if item.divider %}
        <li>
          <hr class="dropdown-divider" />
        </li>
      {% elif item.header %}
        <li>
          <h6 class="dropdown-header">{{ item.text }}</h6>
        </li>
      {% else %}
        <li>
          <a class="dropdown-item"
             href="{{ item.url|default:'#' }}">
            {% if item.icon %}<c-icon name="{{ item.icon }}" class="me-2" />{% endif %}
            {{ item.text }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
