<c-vars icon
        badge_count="0"
        badge_color="danger"
        label="" />
<li class="nav-item dropdown">
  <a class="nav-link"
     data-bs-toggle="dropdown"
     href="#"
     aria-label="{{ label }}">
    <c-icon name="{{ icon }}" />
    {% if badge_count and badge_count > 0 %}
      <span class="navbar-badge badge text-bg-{{ badge_color }}">
        {% if badge_count > 99 %}
          99+
        {% else %}
          {{ badge_count }}
        {% endif %}
      </span>
    {% endif %}
  </a>
  <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end">{{ slot }}</div>
</li>
