name: Release

on:
  push:
    tags:
      - "v*"
  release:
    types: [published]

jobs:
  release-checks:
    name: Pre-release checks
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v6

      - name: Set up Poetry env
        uses: SamuelJennings/cached-poetry-action@v1

      - name: Run tests
        run: poetry run pytest

      - name: Build package
        run: poetry build

      - name: Check package
        run: poetry check

  publish-pypi:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    needs: release-checks
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write
      contents: read
    steps:
      - name: Check out
        uses: actions/checkout@v6

      - name: Set up Poetry env
        uses: SamuelJennings/cached-poetry-action@v1

      - name: Export tag
        id: vars
        run: echo "tag=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT

      - name: Build package
        run: |
          poetry version ${{ steps.vars.outputs.tag }}
          poetry build

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1

  create-release:
    name: Create GitHub Release
    runs-on: ubuntu-latest
    needs: publish-pypi
    permissions:
      contents: write
    steps:
      - name: Check out
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Build Changelog
        id: github_release
        uses: mikepenz/release-changelog-builder-action@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: ${{ steps.github_release.outputs.changelog }}
          draft: false
          prerelease: false
